<!DOCTYPE html>
<html>
<head>
    <title>Deaf Fire Art</title>
    <!-- bootstrap -->
    <link href="/css/lightbox.min.css" rel="stylesheet" />
    <!-- see web dev log for path explanation -->
    <link rel="stylesheet" href="/css/app.css">
    <link href="https://fonts.googleapis.com/css?family=Nunito&display=swap" rel="stylesheet">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">