<!DOCTYPE html>
<html>
<head>
    <title>Deaf Fire Art</title>
    <!-- remember that we served the public directory! -->
    <!-- the public directory gets sent back to the client, that it becomes the ROOT on the front end -->
    <!-- which is why we put '/css...' -->
    <link rel="stylesheet" href="/css/app.css">
    <link href="https://fonts.googleapis.com/css?family=Petit+Formal+Script&display=swap" rel="stylesheet">
</head>
<body>