<!DOCTYPE html>
<html>
<head>
    <title>Deaf Fire Art</title>
    <!-- remember that we served the public directory! -->
    <!-- the public directory gets sent back to the client, that it becomes the ROOT on the front end -->
    <!-- which is why we put '/css...' -->
    <link href="https://fonts.googleapis.com/css?family=Petit+Formal+Script&display=swap" rel="stylesheet">
    <!-- bootstrap -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="/css/lightbox.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/app.css">

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">