<!DOCTYPE html>
<html>
  <%- include("partials/header") %>
  <body>
    <div class="container">
      <%- include("partials/navbar") %>
      <h1>404</h1>
      <p>Page not found. Please check the URL.</p>
    </div>
  </body>
</html>
