<%- include("partials/header") %>
<link href="https://fonts.googleapis.com/css?family=Kaushan+Script&display=swap" rel="stylesheet">
<link rel="stylesheet" href="/css/about.css">
</head>
<body>
<header>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/gallery">Gallery</a></li>
            <li><a href="/about">About</a></li>
        </ul>
    </nav>
</header>
<div>
    <h1>About Sandy</h1>
    <p>
        Hi, I am William (nickname Sandy).  I was a teacher of the deaf, now recently retired and residing in Victoria, BC.  My hobbies include gardening, biking, woodworking and pyrography (meaning woodburning).  During woodworking, I have been doing restoration on old dressers and woodburning on them images such as trees to show our care for nature and our environment.  I collect fallen branches from windstorms, cut them into rounds,  and then do woodburning of images.  Images may be trees or ASL signs such as 'ILY' (I love you) to express support for deaf culture as well as positive feelings for others.  Plaques, coasters and pins are some others things I do for charity and open commissions, especially for those in need.
    </p>
</div>
<%- include("partials/footer") %>