<%- include("partials/header") %>
<link href="https://fonts.googleapis.com/css?family=Kaushan+Script&display=swap" rel="stylesheet">
<link rel="stylesheet" href="/css/about.css">
</head>
<body>
<header>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/gallery">Gallery</a></li>
            <li><a href="/about">About</a></li>
        </ul>
    </nav>
</header>
<div>
    <h1>About Sandy</h1>
</div>
<%- include("partials/footer") %>