<%- include("partials/header") %>
<link href="https://fonts.googleapis.com/css?family=Kaushan+Script&display=swap" rel="stylesheet">
<link rel="stylesheet" href="/css/index.css">
</head>
<body>
<div class="container">
  <%- include("partials/navbar") %>
  <div id="splash-container">
    <main id="splash">
      <h2 id="welcome">Welcome to</h2>
      <h1 id="landingMessage">Deaf Fire Art</h1>
    </main>
  </div>
</div>
<%- include("partials/footer") %>