<%- include("partials/header") %>
    <h2 id="welcome">Welcome to</h2>
    <h1 id="landingMessage">Deaf Fire Art</h1>
    <!-- would be nice to have 'welcome below 'Deaf Fire Art' where 'welcome' fades in slowly -->

<%- include("partials/footer") %>