<%- include("partials/header") %>
    <h1>Welcome to Deaf Fire Art</h1>
    <!-- would be nice to have 'welcome below 'Deaf Fire Art' where 'welcome' fades in slowly -->

<%- include("partials/footer") %>