<!DOCTYPE html>
<html>
  <%- include("partials/header") %>
  <body>
    <div class="container">
      <%- include("partials/navbar") %>
      <div id="splash-container">
        <main id="splash">
          <h2 id="welcome-1">Welcome to</h2>
          <h1 id="welcome-2">Deaf Fire Art</h1>
        </main>
      </div>
    </div>
  </body>
</html>
