<%- include("partials/header") %>
<link href="https://fonts.googleapis.com/css?family=Kaushan+Script&display=swap" rel="stylesheet">
<link rel="stylesheet" href="/css/index.css">
</head>
<body>
<header>
  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/gallery">Gallery</a></li>
      <li><a href="/about">About</a></li>
    </ul>
  </nav>
</header>
<div class="content splash">
  <div id="welcome-container">
  <h2 id="welcome">Welcome to</h2>
  </div>
  <h1 id="landingMessage">Deaf Fire Art</h1>
  <!-- would be nice to have 'welcome below 'Deaf Fire Art' where 'welcome' fades in slowly -->

</div>
<%- include("partials/footer") %>