<!DOCTYPE html>
<html>
  <%- include("partials/header") %>
  <body>
    <div class="container">
      <%- include("partials/navbar") %>
      <h1>Login</h1>
      <form action="/login" method="POST">
        <label for="username"><b>Username</b></label>
        <input type="text" name="username" placeholder="username" />
        <label for="password"><b>Password</b></label>
        <input type="password" name="password" placeholder="password" />
        <button class="ui-btn">Submit</button>
      </form>
    </div>
  </body>
</html>
