<%- include("partials/header") %>
<div class="container">

<h1>Add Image</h1>
<!-- <form action="/gallery" method="POST">

</form> -->
<input type="button" class="btn btn-primary btn-large" value="select images" id="select-files">
<script src="/dist/uppyBundle.js"></script>
</div>
<%- include("partials/footer") %>