<%- include("partials/header") %>
<div class="container">

<h1>Add Image</h1>
<button type="button" class="btn btn-primary btn-large" id="select-files">Select Images</button>
</div>
<script src="/dist/uppyBundle.js"></script>
<%- include("partials/footer") %>