<!DOCTYPE html>
<html>
<%- include("partials/header") %>
<body>
  <div class="container">
    <%- include("partials/navbar") %>
    <h1>Add Image</h1>
    <button type="button" class=" class="ui-btn" id="select-files">Select Images</button>
  </div>
  <script src="/dist/uppyBundle.js"></script>
</body>
</html>