<%- include("partials/header") %>
</head>
<body>
  <header>
  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/gallery">Gallery</a></li>
      <li><a href="/about">About</a></li>
    </ul>
  </nav>
</header>
<h1>Add Image</h1>
<button type="button" class="btn btn-primary btn-large" id="select-files">Select Images</button>
<script src="/dist/uppyBundle.js"></script>
<%- include("partials/footer") %>