@import "uppload/dist/uppload.css";
@import "uppload/dist/themes/light.css";

html {
  background-image: url("../img/firewood_1.jpg");
  /* cover works well because it preserves aspect ratio. On smaller widths, the image height is defined by the container height (for this particular image). See CSS tips */
  background-size: cover;
}

html {
  height: 100%;
  margin: 0%;
}

body {
  color: white;
  font-family: "Nunito", sans-serif;
}

header,
.content {
  max-width: 1200px;
  margin: auto;
}

nav {
  text-align: right;
  margin-right: 5%;
}

nav li {
  /* want nav items to be horizontal, but allow for top and bottom spacing, + width and height */
  display: inline-block;
  cursor: pointer;
}

nav li a:hover,
#add-new-image:hover {
  background-color: white;
  color: #7f7f7f;
}

nav li a,
#add-new-image {
  border-radius: 8px;
  padding: 4px;
  transition: background-color 0.25s;
  /* using em here so that font size dynamically changes with browser font size */
  font-size: 1.5em;
  color: white;
  text-decoration: none;
}

ul {
  /* font-family: 'Nunito', sans-serif; */
  list-style: none;
}
