.gallery-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 50px;
  max-width: 1200px;
  margin: auto;
  /* background: rgba(143, 143, 143, 0.5); */
  /* height: 100%; */
  /* display: flex; */
}

.gallery-image {
    max-width: 400px;
    padding: 10px;
    background-color: white;
    color: black;
    border-radius: 8px;
}

.galleryRow {
  margin: 20px;
  color: black;
}

img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 6px;
}

#open-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
}
#email-popup {
 max-width: 400px;
 display: none;
 position: fixed;
 bottom: 0;
 right: 0;
 background-color: white;
 color: #7f7f7f;
 padding: 20px;
}

#email-popup textarea, input {
  width: 100%;
}