.gallery-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  max-width: 1200px;
  grid-gap: 50px;
  margin: auto;
  margin-top: 10%;
}

.gallery-image {
    /* min-width: 300px; */
    padding: 10px;
    background-color: white;
    color: black;
    border-radius: 8px;
}

.galleryRow {
  margin: 20px;
  color: black;
}

.card-top {
  text-align: center;
}

.card-img-top {
    max-width: 100%;
    max-height: 100%;
    border-radius: 6px;
}

.card-text {
  font-style: italic;
}

.transparent-button {
  color: white;
  background-color: Transparent;
  border: none;
  cursor: pointer;
  outline: none;
  /* override default button font */
  font-family: 'Nunito', sans-serif;
  font-size: 1.5em;
  transition: background-color .25s;
  border-radius: 8px;
  display: block;
}
.transparent-button:hover {
  background-color: white;
  color: #7f7f7f;
}

#delete-button, #cancel-delete {
  display: none;
}

#open-button-div {
  max-width: 1200px;
  margin: auto;
}

#open-button {
  position: fixed;
  bottom: 20px;
  right: 0px;
  margin-right: 5%;
}

#email-popup {
 max-width: 400px;
 display: none;
 position: fixed;
 bottom: 0;
 right: 0;
 background-color: white;
 color: #7f7f7f;
 padding: 20px;
 border-radius: 8px;
}

#email-popup textarea, input {
  width: 100%;
}

#popup-buttons {
  text-align: right;
}

.email-icon {
  float: right;
}

.email-icon, .delete-image {
  cursor: pointer; 
}