%btn {
  /* override default button font */
  font-family: 'Nunito', sans-serif;
  text-decoration: none;
  // default for anchor, but make explicit anyways
  cursor: pointer;

  color: $base-color;
}

.ui-btn {
  @extend %btn;
  @include button(8px, 1.5rem, 4px);

  transition: background-color 0.25s;

  &:hover {
    background-color: $base-color;
    color: $secondary-color;
  }

  form & {
    color: $secondary-color;

    &:hover {
      background-color: $secondary-color;
      color: $base-color;
    }
  }
}

button.ui-btn {
  background-color: transparent;
  border: none;
  outline: none;
}

.card-edit {
  @extend %btn;
  @include button(4px, 0.8rem, 4px);

  background-color: black;
}

#update-btn,
#cancel-btn {
  display: none;
}

#email-open {
  margin-bottom: 1rem;
}

#add-new-image {
  margin-top: 1rem;
  margin-left: 7%;
  display: inline-block;
}
