form {
  max-width: 400px;
  background-color: $base-color;
  color: $secondary-color;
  padding: 20px;
  border-radius: 8px;

  textarea,
  input {
    width: 100%;
  }
}

#email-popup {
  display: none;

  // inside sticky footer element!
  position: absolute;
  bottom: 0;
  right: 0;

  div {
    text-align: right;
  }
}
