.card {
  padding: 10px;
  background-color: white;
  color: black;
  border-radius: 8px;

  &-admin {
    margin-bottom: 10px;
    padding: 0 2px;

    * {
      cursor: pointer;
    }

    i {
      position: relative;
      top: 3px;
    }
  }

  &-img-top {
    /* if width and height are not 100%, then grid gaps fail to work properly */
    width: 100%;
    height: 100%;
    border-radius: 6px;
  }

  &-body {
    padding: 2px;
  }

  &-text {
    font-style: italic;
  }

  &-email,
  &-edit {
    float: right;
    cursor: pointer;
  }
}

.draggable {
  cursor: move;
  // text is not highlightable (drag instead)
  user-select: none;
}

.drag-ghost {
  border: 1px dashed #fff;
  // make card background transparent
  background-color: rgba(0, 0, 0, 0);

  // blank out all child elements - can't do this to card, because border becomes transparent also.
  & * {
    opacity: 0;
  }
}
