// .grid-wrapper {
//   height: 100vh;
// }

.grid {
  display: grid;
  /* fr = fraction of available space */
  /* fr is better than percentages because no margin or padding issues */
  /* minmax defines size range between 300px and 1fr */
  /* basically this just means that the item has flexible width but minimum of 300px */
  /* https://css-tricks.com/auto-sizing-columns-css-grid-auto-fill-vs-auto-fit/ */
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  justify-items: center;
  // align-items: center;
  max-width: 1200px;
  gap: 50px;
  margin: auto;
  margin-top: 10%;
  // height: 100vh;
}
